
<br>
<div style="text-align:center">
  <h2>
    Store Data In DB from Excel
  </h2>
  </div>
  <div class="container row">
     <div class="col-md-12">
            <h1>Upload Excel</h1>
        </div>
    </div>
    <div class="container row">
        <div class="col-md-6">
            <input type="file" accept=".xlsx" (change)="onFileChanged($event)" >
        </div>
        <div class="col-md-6">
            <input type="button" [disabled]="clicked" (click)="onUpload()" value="upload">
        </div>
    </div>
    <hr />
    <div class="container row">
       <div class="col-md-12">
            <div *ngIf=message>{{message}}</div>
        </div>
    </div>


